@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Quicksand", sans-serif;
    font-size: 1.1rem;
  }

  .site-header {
    
    padding: 15px;
    background-color: #01478cf8;
    color: white;
    text-align: center;
    height: 70px;
    align-items: center;

    
  }

  .highlight {
    color: #e7e00ff0;
  }

  
  
  .site-header h1 {
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    
    
  }
  
  .site-nav {
    display: flex;
    background-color: #ecd333f0;
    width: 103%;
    justify-content: space-evenly;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    margin-left: -16px;
    margin-top: 23px;
    margin-bottom: 4rem;
         
  }
  
  .site-nav a {
   
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
  
  }

  nav a:hover {
    background-color: white;

  }

  main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding: 2rem;
    gap: 1.5rem;
    
  }

  .card {
    background-color: white;
    border-radius: 12px;
    border: 1px solid #ccc;
    padding: 1rem;
    position: relative;
    margin-top: 3.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
  }

  .card h2 {
    font-size: 1.2rem;
    margin-top: 0;
    font-family: "Roboto", sans-serif;
    background-color: rgba(1, 71, 140, 0.971);
    color: white;
    text-align: center;
    padding: 0.5rem 1.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
}

.card .content-wrapper {
  display: flex;
  align-items: center;

}

.card .content-wrapper p {
  flex: 1;
  margin-right: 1rem;
  text-align: justify;
  margin-top: 3rem;
  
}

.card .content-wrapper img {

  max-width: 150px; 
  height: auto; 
  margin-top: 3rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 10, 0.5);
  
    
}

.card h3 {

  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
  border-bottom: 1px solid #bebebe;
  padding: 4px;
  
}

.card .country-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 1rem;
  
}

.card .country-wrapper p {
  flex: 1;
  margin-left: 1rem;
  text-align: justify;
  margin-top: 1rem;
}

.card .country-wrapper figure img {

  max-width: 200px; 
  height: auto; 
  margin-top: 0.5rem;
  display: block;
  
  
}

.country-wrapper figure {
  text-align: center;
  margin-top: 0.2rem;
}

.country-wrapper figcaption {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-top: -20px;
  
}

.card ul {
  list-style: none; 
  padding: 0;
  margin: 0; 
  text-align: center; 
  margin-top: 45%;
}

.card ul li {
  margin-bottom: 0.5rem; 
  
}

.card ul li a {
  
  color: #333; 
  padding: 0.5rem 1rem; 
  display: inline-block; 
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: #01478cf8;
  font-weight: bold;
}

  footer {
    text-align: center;
    padding: 1px;
    background-color: rgba(1, 71, 140, 0.971);
    font-family: "Quicksand", sans-serif;

  }

footer p {
    margin: 5px 0; 
    font-size: 17px; 
    color: white;
}

#lastModified {
    
    color: yellow;
}