@media screen and (min-width: 780px) {

  
  .info-container {
   
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr ;
    gap: 10px;
   
    
  }

  .info-box {
    background: rgba(239, 229, 207, 0.8);
    grid-column: 1/ 2;
    grid-row: 1 / 2;
    padding: 5px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-align: center;
    align-self: start;
    justify-self: start;
    width: 130%;
    margin-left: 30px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    margin-top: 30px;
   
   
    
    
    
  }

  .weather-box  {
    background:rgba(239, 229, 207, 0.8);
    grid-column: 6 / 7;
    grid-row: 2 / 2;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-align: center;
    align-self: end;
    justify-self: end;
    width: 130%;
    margin-right: 30px;
    margin-bottom: 0px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  
   

  }

  h2 {
    background-color: rgb(247, 39, 39, 0.9);
    color: #fff;
    padding: 10px;
    margin: 10px 10px 20px -20px; 
   
    
  }

  .info-content p, .weather-content p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

.label {
  flex: 1;
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
}

.value {
  flex: 1;
  text-align: left;
  padding-left: 10px;
}




 
    
  }









  



 
