* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    padding: 1.2rem;
    
}

header {
background-color: rgba(1, 71, 140, 0.971);
color: white;
display: grid;
grid-gap: 1rem;
padding: 20px;

}

header, main {
    margin: 0 auto;

}

header h1 {
    font-size: 2rem;
    align-items: center;
}

#menu {
    
    font-size: 2rem;
    text-decoration: none;
    display: block;
    font-weight: 700;
    padding: .5rem .75rem;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "≡";
}

.navigation {
    list-style: none;
    margin:  0 auto;
    max-width: 760px;

}

.navigation li {
    display: none;
   
}

.navigation a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 0.75rem;
    text-align: center;
    font-size: 700;    
}

.navigation a:hover {
    background-color: #080808ff;
    color: white;
}

.show li {
    display: block;
}

#menu show::before {
    content: "X";
}


h2 {
    text-align: center; 
    margin-bottom: 12px; 
    margin-top: 12px;
    font-size: 2.2rem;

}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin: 0 auto;
}




.gallery figure {
    text-align: center; 
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}

.gallery img {
    max-width: 100%; 
    height: auto; 
}

.gallery figcaption {
    margin-top: 5px; 
    font-size: 13px;
}

footer {
    text-align: center;
    padding: 1px;
    background-color: rgba(1, 71, 140, 0.971);
    margin-top: 6px;
}

footer p {
    margin: 5px 0; 
    font-size: 15px; 
    color: white;
}

#lastModified {
    color: yellow;
}
